@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: #000;
    height: 75vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

nav h2 {
    color: #00FF13;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem;
}

nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
    border: none;
    border-radius: 50px;
    padding: 10px 5px;
    background-color: #00FF13;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    margin: 1rem;
}

.groups {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 15rem auto;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group h3 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 8rem;
    font-weight: 400;
    margin: 1rem;
}

.group span {
    color: #00FF13;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: .75rem;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav h2 {
        font-weight: 500;
    }

    nav button {
        font-size: 1rem;
        padding: 5px;
        width: 50%;
    }

    main h1 {
        font-size: 3rem;
    }

    .groups {
        flex-direction: column;
        align-items: center;
        margin: 5rem auto;
    }

    .group h3 {
        font-size: 5rem;
    }
}