@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: #000;
}

main {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #00FF13;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin: 1rem;
}

p {
    color: #d2d2d2;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: .75rem;
}

input {
    background-color: #222;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    margin: .5rem;
    color: #d2d2d2;
    font-size: 1rem;
    width: 20rem;
}

main button {
    background-color: #00FF13;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    margin: .5rem;
    width: 20rem;
    cursor: pointer;
}

button:hover {
    background-color: #00a20b;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    input {
        width: 10rem;
    }

    main button {
        padding: 5px 30px;
        width: 10rem;
    }
}